<!--
<div class="container">
    <div class="col-md-12 row-content">

        <div class="block disabledCls" ng-show='progressReport'>
            <div class="round">
                <img src="../images/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Progress Report</p>

            </div>
        </div>
        <div class="block disabledCls"  ng-show='courseCompletionReport'>
            <div class="round">
                <img src="../images/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Course Completion Report</p>
            </div>
        </div>
        <div class="block" ng-click="openForm()" ng-show='studentActivityReport'>
            <div class="round">
                <img src="../images/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Student Activity Report</p>
            </div>
        </div>

    </div>
</div>
-->

<!-- Prev Html ends here -->


 <div class="header">
    <div class="logo-row">
    	<img src="images/logo.jpg" class="logo" alt="" />
    </div>
    <div class="heading-block" >
    	
    </div>
     <div class="link-row">
    	
    </div>
    <div class="clear"></div>
  </div>
  	<div class="container">
    	<!--intro-row-->
        	<div class="col-md-12">
            	<div class="col-md-5 row-content">
                	<div class="feild-row">
               	    	<img src="images/logo2.png" class="user-logo" alt="">
                        
                        <div  class='report-link marginLoading' ng-show='showoverlay'>
                            <div id='loadingtext' ng-show="loadingText">Loading....</div>

                            <div id='onNetErrorH2' class='onNetError' ng-show="netErr">Sorry, something went wrong. Please try again after sometime</div>
                            <div id='onServiceErrorH2' class='onServiceError' ng-show="authenticationErr">Sorry, you are not authorized to access the reports. Please contact the administrator</div>
                        </div>

                        
                        
                        <div ng-class="{'showreportLink': !showoverlay, 'hidereportLink' : showoverlay}">
                            <h4>REPORTS</h4>
                            <a href="" class="report-link" ng-click="openForm2()" ng-show='progressReport'>Student Progress Report</a>

                            <a href="" class="report-link" ng-click="openForm1()" ng-show='courseCompletionReport'>Course Completion Report</a>

                            <a href="" class="report-link" ng-click="openForm()" ng-show='studentActivityReport'>Student Activity Report</a>
                            
                             <a href="" class="click-here disabledCls">Click here to access Reports User Guide</a>
                        </div>
                        
                       
                    </div>
              </div>
            </div>
        <!--/END/intro-row-->
         <!--footer-->
        <footer id="footer">
            <p class="copyRText">Copyright 2016 School Improvement Network</p>
            <p class="copyRText">Build 0.0.1.352-SNAPSHOT at Feb-22-2016 02:27:28</p>
            <p><img src="images/footerLogo.png"></p>        
      	</footer>
      	<!--/END/footer-->
    </div>